
   * {
       margin: 0;
       padding: 0;
       font-family: "Poppins", sans-serif;
   }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: black;
    background-position: center;
    background-size: cover;
    animation: backgroundChange 5s infinite alternate;
}

@keyframes backgroundChange {
    0% {
        background-color: black;
    }
    100% {
        background-color: #333; /* чуть более светлый оттенок */
    }
}

.form-box {
    position: relative;
    width: 400px;
    height: max;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 10px;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label {
    top: -5px;
}
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px;
    font-size: 0.9em;
    color: #fff;
}

.forget label:nth-child(2) {
    order: 1;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label input[type="checkbox"] {
    margin-right: 6px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
button:hover {
    background: #BFF;
    transition: .2s;
}
.register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
input[name='fio']::placeholder,
input[name='email']::placeholder,
input[name='password_confirmation']::placeholder,
input[class='phone']::placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

input[name='fio']:focus::placeholder,
input[name='email']:focus::placeholder,
input[name='password_confirmation']:focus::placeholder,
input[class='phone']:focus::placeholder {
    color: #999;
}

.msg {
    padding: 4px;
    border: 2px solid red;
    border-radius: 10px;
    position: relative;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.msg_green {
    padding: 4px;
    border: 2px solid #009c27;
    border-radius: 10px;
    position: relative;
    max-width: 390px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.success {
    box-shadow: 0 5px 5px 5px rgba(89, 172, 67, 0.8);
}
.error {
    box-shadow: 0 5px 5px 5px rgba(211, 43, 48, 0.8);
}
.info {
    box-shadow: 0 5px 5px 5px rgba(31, 45, 223, 0.8);
}
.form-msg {
    position: relative;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.notification {
    font-family: Montserrat Alternates;
    border-radius: 4px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    position: fixed;
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    z-index: 1000;
    text-align: center;
    font-size: 25px;
}
.notification-content {
    width: 100%;
    justify-content: center;
    position: absolute;
    display: flex;
}